@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* header-section */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #161616;
    border-radius: 20px;
}

.header-text {
    color: #FFFFFF;
    margin-top: 30px;
    padding: 10px;
}

.header-text p {
    font-weight: 400;
}

.header-text button {
    width: 160px;
    height: 50px;
    background-color: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-text button a {
    color: #FFFFFF;
    text-decoration: none;
}

/* close header-section */

/* main-section */
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

/* list-bar start */
.list-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    width: 300px;
    height: 310px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 20px;
}

.list-name {
    /* margin: 10px; */
    border: 1px solid blue;
    background-color: #fff;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog {
    background-color: #DD0000;
}

/* list-bar End */

/* player details */
.player-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 50px;
}

.player {
    width: 300px;
    height: 362px;
    background-color: lightpink;
    padding: 10px;
    border-radius: 5px;
}

.player-image img {
    width: 300px;
}


.btn {
    width: 65px;
    height: 25px;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    margin-top: 10px;
    border-radius: 5px;
}

.heading {
    width: 300px;
    /* height: 54px; */
    font-weight: 600;
    font-size: 18px;
    color: #161616;
}

.icon {
    display: flex;
    justify-content: space-evenly;

}

/* player details end */
/* main-section close */
/* footer-start */

.footer {
    background-color: #161616;
    height: 100px;
    text-align: center;
    color: #FFFFFF;
    padding: 150px;

}

.footer-text {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin-bottom: 20px;
}

.social-site {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

}

.social-site i {
    color: gold;
}